@model SportsClub.DataAccess.HighBoardClubMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HighBoardClubMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HighBoardMembers }) |
    @Html.ActionLink("Back to List", "Index")
</p>
