@model IPagedList<SportsClub.DataAccess.HighBoardClubMember>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Club.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HighBoardMembers }) |
            @Html.ActionLink("Details", "Details", new { id=item.HighBoardMembers }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.HighBoardMembers }, new { onclick = "return confirm('Are you sure you want to delete this HighBoardMember?')" })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page}))