@model IPagedList<SportsClub.DataAccess.Club>
@using PagedList
@using PagedList.Mvc;
@{
    ViewBag.Title = "Clubs";
}

<h2>Clubs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Clubs @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().EstablishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstablishDate)
        </td>
        <td>
            <img src="@Url.Content(item.Logo)" alt="Image" height="50" width="50" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClubID }, new { onclick = "return confirm('Are you sure you want to delete this club?')" })
        </td>
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, Search = Request.QueryString["Search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.Always , DisplayPageCountAndCurrentLocation = true})